<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

	<header th:include="_template :: header"></header>


	<div class="alert" th:if="${message != null}" th:text="${message}"></div>

	<div class="card">
		<main class="content">
			<div class="user" th:each="wastefood : ${wastefood}">
				<div class="user-info">
					<h4 th:text="${wastefood.estoqueDeAlimento}"></h4>
					<p th:text="${wastefood.tipoDeAlimento}"></p>
				</div>
			</div>
		</main>
	</div>
</body>
</html>