<!DOCTYPE html>
<html 
	xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Epic Task</title>
	<link rel="stylesheet" type="text/css" th:href="@{~/css/global.css}">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/form.css}">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/menu.css}">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/tasks.css}">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/users.css}">
	<link rel="stylesheet" type="text/css" th:href="@{~/css/home.css}">
</head>
<body>

<header th:fragment="header">
	<h1>
		<a href="/">Epic Task</a>
	</h1>
</header>
</body>
</html>