<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
<meta charset="UTF-8">
<title>DoNotWasteFood</title>
<link rel="stylesheet" type="text/css" th:href="@{~/css/global.css}">
<link rel="stylesheet" type="text/css" th:href="@{~/css/form.css}">
<link rel="stylesheet" type="text/css" th:href="@{~/css/menu.css}">
<link rel="stylesheet" type="text/css" th:href="@{~/css/points.css}">

</head>
<body>

	<header th:fragment="header">
		<h1>
			<a href="/">DoNotWasteFood</a>
		</h1>
		<div class="buttons">
<h1>	<a href="/new" class="button button primary">Criar ponto de coleta</a>
		</h1>
		</div>
	</header>
</body>
</html>