<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:include="_template :: head"></head>

<body>

	<header th:include="_template :: header"></header>

	<div class="card">
		<main class="content">
			<div class="points" th:each="point : ${home}">
				<div class="points-info">
					Quantidade:<h4 th:text="${point.estoqueDeAlimento}"></h4>
					Tipo de alimento:<h4 th:text="${point.tipoDeAlimento}"></h4>
					Rua:<h4 th:text="${point.rua}"></h4>
				</div>
			</div>
		</main>
	</div>
</body>
</html>