<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:include="_template :: head"></head>
<body>

	<header th:include="_template :: header"></header>
	
	<section class="card form">
		<h2>Cadastrar Ponto de coleta</h2>
		
		<form th:action="/ponto" method="post" th:object="${ponto}">
			<label for="title">Numero de estoque</label>
			<input 
				type="number" 
				name="estoqueDeAlimento" 
				id="estoqueDeAlimento" 
			/>
			
			<label for="tipoDeAlimento">Tipo de alimento:</label>
			<input type="text" name="tipoDeAlimento" id=tipoDeAlimento>

			
			<label for="rua">Rua</label>
			<input type="text" name="rua" id="rua" 			 
			></input>
			
			
			<label for="numRua">Numero:</label>
			<input type="text" name="numRua" id="numRua">
		
			
			<label for="dataDeEntrega">Data de entrega:</label>
			<input type="date" name="dataDeEntrega" id=dataDeEntrega>
	
			
			<div class="buttons">
				<a href="/task" class="button">Cancelar</a>
				<button class="button primary">Salvar</button>
			</div>
			
		</form>
	</section>

</body>
</html>